
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true"> 



<servlet>
       <servlet-name>CurrencyConverter</servlet-name>
       <servlet-class>com.example.CurrencyConverter</servlet-class>
</servlet>

<context-param>
	<param-name>myurl</param-name>
	<param-value>https://github.com/haadonel/project-2</param-value>
</context-param>

<context-param>
	<param-name>mytxt</param-name>
	<param-value>http://haadonel.wordpress.com</param-value>
</context-param>


<listener>
	<listener-class>
		com.example.MyServletContextListener
	</listener-class>
</listener>


<servlet-mapping>
       <servlet-name>CurrencyConverter</servlet-name>
       <url-pattern>/cc</url-pattern>
</servlet-mapping>

   
</web-app>
